@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
    background-color: rgba(122, 191, 191, .5);
	color: black;
}

body {
    width:80%;
    max-width: 1280px;
    min-width: 414px;
    margin:0 auto;
    background-color: #f2f2f2;
    padding:10px;
    padding-top: 150px;
}

h1, h2, h3, nav a, menu li, #social li, footer {
    font-family: 'Bebas Neue';
}

p, dd, li, nav, input {
    font-family: 'Montserrat Regular';
}

dt {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

nav a, menu li, #social li, footer {
    font-size: 20px;
}

p, dd, li, nav, input {
    font-size: 16px;
}

#sides p:nth-of-type(2) {
    font-family: 'Montserrat';
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

menu li, #social li, #mainnav ul {
    list-style-type: none;
}

menu a, #social a, #mainnav a {
    color: #eb5428;
}

#sides {
    background-color: #7abfbf;
    margin-left: -10px;
    margin-right: -10px;
}

#social h3 {
    visibility: hidden;
}

header {
    background-color: white;
    height: 100px;
    position: fixed;
    width:80%;
    max-width: 1280px;
    min-width: 414px;
    top: 0;
    margin-left: -10px;
}

#mainnav li {
    display: inline-block;
}

#mainnav img {
    height: 40px;
    justify-content: space-between;
    top: 20px;
}

#search {
    text-align: center;
    padding: 10px;
    outline: #eb5428;
}

footer {
    background-color: white;
    margin-left: -10px;
    margin-right: -10px;
}

@media screen and (min-width: 414px) {
 
    body {
        max-width: 414px;
    }
}

@media screen and (max-width: 768px) {

    body {
        max-width: 768px;
    }
    
}

@media screen and (min-width: 1280px) {

    h1 {
        text-align: center;
    }

    .first {
        display: inline-block;
        padding-bottom: 55px;
    }

    #sidebar {
        background-color: white;
        width: 150px;
        height: 500px;
        margin-left: -10px;
        border-style: double;
        border-color: #eb5428;
        padding: 20px;
    }

    #taco {
        margin-left: 150px;
        margin-top: -500px;
    }
    #taco img {
        width: 400px;
        height: 500px;
        margin-left: -10px;
    }

    #description {
        margin-left: 550px;
        margin-top: -520px;
        padding-bottom: 100px;
        padding-left: 0px;
    }

    .details {
        background-color: #0d0d0d;
        color: #7abfbf;
        margin-top: 123px;
        margin-left: -10px;
        margin-right: -10px;
        height: 120px;
        
    }

    .details h2 {
        text-align: center;
    }

    #times dl {
        display: inline-block;
        text-align: center;
        padding-left: 50px;
        padding-bottom: 10px;
        margin-top: -10px;
        margin-right: 50px;
    }

    #times dd {
        margin-left: -5px;
        padding-top: 3px;
    }

    .recipeinfo {
        height: 380px;
        display: inline-block;

    }

    #ingredients h2 {
        margin-left: 50px;
        margin-top: 10px;
    }

    #ingredients li {
        margin: 10px;
        margin-left: -10px;
        list-style-type: square;
    }

    #directions {
        width: 750px;
        margin-left: 300px;
        margin-top: -400px;
    }

    #directions h2 {
        padding-top: 8px;
        text-align: center;
    }

    #directions li {
        margin: 20px; 
        margin-left: -50px;
    }

    #sides {
        height: 450px;
    }

    #sides h2 {
        text-align: center;
        padding-top: 10px;
    }

    #mexican, #salsa, #guac, #tortillas {
        display: inline-block;
        margin: 12px;
        margin-top: -15px;
    }
    
    #mexican h2, #salsa h2, #guac h2, #tortillas h2 {
        margin-top: -10px;
        text-align: left;
        margin-bottom: -10px;
    } 

    #sides p {
        top: 50px;
    }

    footer {
        height: 200px;
        margin-bottom: -10px;
        margin-top: -30px;
    }

    footer img {
        height: 130px;
        margin-top: -700px;
        margin-left: 20px;
    }

    #social li {
        display: inline-block;
        margin: 20px;
    }

    #social ul {
        text-align: end;
        margin-top: -60px;
    }

    #copy {
        margin-left: 200px;
    }

    #copy p{
        text-transform: uppercase;
        font-family: 'Bebas Neue';
        margin: 0;
    }

}
